h1 {
  color: #f1efef;
  font-weight: 800;
  font-size: 60px;
  display: inline-block;
}

li {
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("https://images.pexels.com/photos/6819587/pexels-photo-6819587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: 10% 80%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 350px;
  width: 100%;
}

.main-title {
  position: relative;
  top: 75%;
  text-align: center;
}

.navigation {
  margin: 20px;
}

.breadcrumb {
  text-align: center;
}

.breadcrumb-item {
  color: black;
  font-size: 35px;
  font-weight: 800;
}
