h1 {
  color: #f1efef;
  font-weight: 800;
  font-size: 60px;
  display: inline-block;
}

li {
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #3e464c;
}

.header {
  background-image: url("https://images.unsplash.com/photo-1555400113-4961f30f68bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: 10% 40%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 350px;
  width: 100%;
}

.main-title {
  position: relative;
  top: 75%;
  text-align: center;
}

.navigation {
  margin-bottom: 20px;
  text-align: center;
}

.nav {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}
.nav-item {
  font-size: 30px;
  font-weight: 800;
}

.nav-link {
  text-decoration: none;
  color: rgb(7, 7, 7);
}
.nav-link:hover {
  color: #c83a32;
  transition: all 200ms ease-in-out;
}

.signature {
  font-size: 12px;
  text-align: center;
}

.content {
  border-radius: 15px;
  display: flex;
  margin: 0 auto;
  align-content: space-between;
  text-align: center;
  background: rgb(156, 35, 26, 0.6);
  max-width: 83%;
  padding: 15px;
}
